@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

@section Script {
    <script type="text/javascript">
        $($('.superstring-menu-home ')[0]).attr("class", "superstring-menu-home");
        $($('.superstring-menu-h')[0]).attr("class", "superstring-menu-h");
        $($('.superstring-menu-hotdiamond')[0]).attr("class", "superstring-menu-hotdiamond active");
        $($('.superstring-menu-ce')[0]).attr("class", "superstring-menu-ce ");
        $($('.superstring-menu-contact')[0]).attr("class", "superstring-menu-contact ");
    </script>
}

<!-- full screen home -->
<div class="home-section fullwidth-slider owl-carousel bg-dark">
    <section class="home-section fixed-height-medium bg-scroll" data-background="/Lib/superstring/images/superstring/bg_hotdiamond.png">
        <div class="js-height-parent" id="hotdiamond">
            <div class="home-content container">
                <div class="home-text superstring-main-fullwidth"  style="padding-top: 163px">
                    <div class="row align-center">
                        <div class="col-sm-12 align-center">
                            <div class="align-center animate-init" data-anim-type="fade-in-up" data-anim-delay="200">
                                <div class="hs-line-7 mb-0 superstring_main_header superstring-lato-bold">
                                    HOT DIAMOND
                                </div>
                                <div class="hs-line-10 transparent mb-40 mb-xs-20">
                                    <p class="superstring-web superstring_p superstring-noto-light" style="margin-bottom: 4px !important; text-transform:none !important">
                                        "Hot Diamond"는 스포츠경기장 팬서비스 시스템입니다.
                                    </p>
                                    <p class="superstring-web superstring_p superstring-noto-light" style="margin-bottom: 4px !important">
                                        서비스 출시 전에는 자세한 내용을 공개하지 못함을 양해바랍니다.
                                    </p>
                                    <p class="superstring-mobile superstring_p superstring-noto-light" style="margin-bottom: 4px !important; text-transform:none !important">
                                        "Hot Diamond"는 스포츠경기장 팬서비스 시스템입니다.
                                        서비스 출시 전에는 자세한 내용을 공개하지 못함을 양해바랍니다.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- 팀장 강재구 -->
<section class="page-section superstring-section">
    <div class="container relative">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 align-center">
                <div class="superstring-web section-title superstring-title superstring-meet-our-team-title superstring-lato-regular">
                    MEET OUR TEAM
                </div>
                <div class="superstring-mobile section-title superstring-h-title superstring-meet-our-team-title superstring-lato-regular">
                    MEET OUR TEAM
                </div>
                <img class="superstring-line" src="/Lib/superstring/images/superstring/line_gray_green.png" />
            </div>
        </div>
        <div>
            <div class="team-grid">
                <div class="team-item animate-init" data-anim-type="fade-in" data-anim-delay="200" style="margin-top: 62px;">
                    <div class="team-item-image pb-20">
                        <img class="superstring-member" src="/Lib/superstring/images/superstring/photo_hotdiamond.png" />
                    </div>
                </div>
            </div>
            <div class="col-md-12 pt-20 pt-sm-0 animate-init align-center" data-anim-type="fade-in-left-big" data-anim-delay="100" style="padding-bottom: 16px;">
                <div class="text">
                    <h3 class="uppercase superstring-noto-bold superstring-member-title">강재구 팀장 (총괄)</h3>
                    <p class="superstring-web superstring_p_no_margin_bottom superstring-noto-medium">
                        "소비자의 반응을 통해 서비스를 지속적으로 업그레이드 시키겠습니다.
                    </p>
                    <p class="superstring-web superstring_p_no_margin_bottom superstring-noto-light"  style="font-size:16px;">
                        좀 더 즐거운 경기장을 만들기 위해 최선을 다하겠습니다."
                    </p>
                    <p class="superstring-mobile superstring-member-content superstring_no_p_margin_bottom superstring-noto-light">
                        "소비자의 반응을 통해 서비스를 지속적으로 업그레이드 시키겠습니다.
                        좀 더 즐거운 경기장을 만들기 위해 최선을 다하겠습니다."
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
